In [1]:
import pandas as pd

## Loading the datasets that are used in the vizualization

In [2]:
expansion = pd.read_excel('StartupExpansion.xlsx')
population = pd.read_csv('US-Cities-Population.csv',encoding = 'unicode_escape')

In [3]:
expansion.head()

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
0,1,Peoria,Arizona,Region 2,Old,2601,48610
1,2,Midland,Texas,Region 2,Old,2727,45689
2,3,Spokane,Washington,Region 2,Old,2768,49554
3,4,Denton,Texas,Region 2,Old,2759,38284
4,5,Overland Park,Kansas,Region 2,Old,2869,59887

In [4]:
population.head()

,2015 rank,City,State,2015 estimate,2010 Census,Change,2014 land area,2010 population density,Location
0,1,New York,New York,8550405,8175133,0.0459,302.6 sq mi,"27,012 per sq mi",40.6643°N 73.9385°W
1,2,Los Angeles,California,3971883,3792621,0.0473,468.7 sq mi,"8,092 per sq mi",34.0194°N 118.4108°W
2,3,Chicago,Illinois,2720546,2695598,0.0093,227.6 sq mi,"11,842 per sq mi",41.8376°N 87.6818°W
3,4,Houston,Texas,2296224,2100263,0.0933,599.6 sq mi,"3,501 per sq mi",29.7805°N 95.3863°W
4,5,Philadelphia,Pennsylvania,1567442,1526006,0.0272,134.1 sq mi,"11,379 per sq mi",40.0094°N 75.1333°W

## Integration of tableau storyboard to python notebook
## Steps:
- Create a tableau public/online account   [Tableau Public](https://public.tableau.com/en-us/s/) | [Tableau Online](https://online.tableau.com/)
- Share the vizualization you made on tableau to the public account (I will use public reference) [Publish to public from Tableau Desktop](https://help.tableau.com/current/pro/desktop/en-gb/publish_workbooks_tableaupublic.htm)
- Go to your tableau public account and open the viz
- Click on share button and copy the Embed code
- Add `%%HTML` and paste the code in the next line.
- Run the cell to see the viz.

In [5]:
%%HTML
<div class='tableauPlaceholder' id='viz1569455366510' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;InvestmentAnalysis_15692726926210&#47;Story1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='InvestmentAnalysis_15692726926210&#47;Story1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;InvestmentAnalysis_15692726926210&#47;Story1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1569455366510');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1016px';vizElement.style.height='991px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

[Click to see the vizualization](https://public.tableau.com/profile/hemanth.devarapati#!/vizhome/InvestmentAnalysis_15692726926210/Story1)